{% extends 'news/base.html' %}
{% load static %}
{% block title %}
    Foydalanuvchi parolini tiklash
{% endblock %}
{% block content %}
    <h1> Parolni tiklash</h1>
    <p> Parolni o'zgartirish uchun quyidagi formani to'ldiring:</p>
    {% if validlink %}
        <p>Iltimos angi parolni ikki marotaba kiriting</p>
        <form method="post"> {% csrf_token %}
        {{ form.as_p }}
        <p>
            <button type="submit">Parolni o'zgartirish</button>
        </p>
        </form>
    {% else %}
        <p>Siz no'tog'ri linkdan foydalandingiz, u avvalroq foydalanilgan bo'lishi va ishlatish vaqti o'tib ketgan bo'lishi mumkun</p>
    {% endif %}


{% endblock %}